<div class="modal--window">
  <div class="modal--mask"></div>
  <div class="modal--container"></div>
  <div class="modal--close">
    {% render 'framework--icons', icon: 'cross' %}
  </div>
  <div class="modal--prev">
    {% render 'framework--icons', icon: 'chevron-left' %}
  </div>
  <div class="modal--next">
    {% render 'framework--icons', icon: 'chevron-right' %}
  </div>
</div>