{% comment %} Aspect ratio needs at least one decimal {% endcomment %}
{% unless aspect_ratio %}
  {% assign aspect_ratio = 1 %}
{% endunless %}
{% assign placeholder = type %}

{% if placeholder_index %}
  {% capture placeholder %}{{ type }}-{{ placeholder_index }}{% endcapture %}
{% endif %}

<div class="placeholder--root" data-item="placeholder">
  <div
    class="placeholder--container"
    style="padding-top:{{ 1 | divided_by: aspect_ratio | times: 100}}%;"
  >
    {{ placeholder | placeholder_svg_tag }}
  </div>
</div>