<div class="mobile-nav" data-js-class="MobileNav">

  <div class="mobile-nav--header">
    {% if settings.search--show-in-header %}
      <div class="mobile-nav--search font--accent">
        <a href="{{ routes.search_url }}">{{ 'general.search.search' | t }}</a>
      </div>
    {% endif %}

    <div class="mobile-nav--login font--accent">
      {% render 'layout--login' %}
    </div>
  </div>

  <div class="mobile-nav--menu font--accent">
    {% comment %} Copied from header {% endcomment %}
  </div>

  {% if settings.popup--enabled %}
    {% if settings.popup--newsletter--enabled %}
      <div class="mobile-nav--newsletter">
        <div class="newsletter-wrapper spacing--3y">
          {% render 'partial--mailing-list' %}
        </div>
      </div>
    {% endif %}
    {% if settings.popup--social-icons--enabled %}
      <div class="mobile-nav--social">
        {% render 'partial--social-share', view: 'modal' %}
      </div>
    {% endif %}
  {% endif %}

</div>