<div class="newsletter-popup">
  <div class="subscribe-content">
    <span class="subscribe-close" style="cursor:pointer;">×</span>
    <div class="subscribe-form">
      <div class="form-img bg-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL70_2.jpg?v=1654536003');">

      </div>
      <div class="form-head" style="max-width:525px; margin:2px auto;">
        <h2 class="newsletter--heading font--section-heading">[UNLOCK 20% OFF]</h2>
      <p>UNLOCK 20% OFF YOUR FIRST ORDER AND UPGRADE YOUR SKINCARE ROUTINE TODAY. BECOME A REYAL MEMBER FOR EASY RE-ORDERING, SPECIAL OFFERS, REYAL NEWS, AND NEW PRODUCT DEVELOPMENT. JOIN AND SAVE NOW</p>
      </div>
      <div class="form-body">
         {% form 'customer', id: 'newsletter_form' %}
        {% if form.errors %}
          <p class="newsletter--failure">
          {% for field in form.errors %}
            {{ field }} {{ form.errors.messages[field] }}
          {% endfor %}
          </p>
        {% endif %}
        <input type="hidden" name="contact[tags]" value="newsletter" />
        <div class="row mx-0">
          <input
          class="newsletter--email"
          id="newsletter-email"
          name="contact[email]"
          type="email"
          aria-label=""
          placeholder="EMAIL ADDRESS...."
          required
        />
        <button class="font--button" id="newsletter--button" name="subscribe">
          SIGN UP!
        </button>
        </div>
        

        {% if form.posted_successfully? or form.errors %}
          <script>window.location.hash = '#feedback-bar--newsletter';</script>
        {% endif %}
      {% endform %}
      </div>
    </div>
  </div>
</div>