<div class="shop-suppliments-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL_Vitamins.jpg?v=1648621883');">
    <div  class="bottom-link">
     <a href="https://www.reyalperformance.com/collections/supplements">[SHOP SUPPLEMENTS]</a>
    </div>
</div>
<div class="shop-suppliments-caption">
	<p>REYAL CREATES PERFORMANCE SKINCARE AND SUPPLEMENTS<br> THAT WORK TO FUEL, STRENGTHEN, AND PROTECT.</p>
	<p>BE GENTLE, MAN&trade;</p>
</div>
