<div class="skincare-home-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Untitled-1-01.png?v=1641231311');">
  <div class="bg-layer"></div>
    <div class="top-content">
      <p>THE SWEAT AND GAINZ BUNDLE</p>
    </div>
    <div  class="bottom-link">
     <a href="/collections/kits">[SHOP NOW]</a>
    </div>
</div>

{% schema %}
  {
    "name": "Skincare Section",
    "settings": [
      {
        "type": "url",
        "id": "url",
        "label": "SHOP NOW"
      },
      {
        "type": "number",
        "id": "height",
        "label": "Height",
        "info": "will be applied between 0px to 992px",
		"default": 600
      }
    ],
    "presets": [
      {
        "name": "Skincare Section",
        "category": "Skincare section"
      }
    ]
  }
{% endschema %}