<div
  class="skinformula--root skinformula-section"
>
  <div class="skinformula--container">


      <div class="skinformula-header">
      
          <h2 class="skinformula--heading font--section-heading">REYAL'S PROPRIETARY SKINCARE FORMULA USES THREE POWERFUL INGREDIENTS</h2>
       

      
          <div class="skinformula--subheading font--paragraph rte-content">
            <p>REYAL’S SKINCARE PERFORMANCE FORMULA COMBINES THE BEST OF SCIENCE AND NATURE. EVERY REYAL SKINCARE PRODUCT INCLUDES OUR PROPRIETARY RSCF™ TRI􀇫BLEND. A CUSTOM COMBINATION OF ACTIVE INGREDIENTS: DRAGON’S BLOOD, TIGER GRASS, AND VITAMIN E THAT WORK TOGETHER TO FUEL, STRENGTHEN AND PROTECT YOUR SKIN.</p></div>
    
      </div>