<div class="skincare-home-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL-HERO-FATHERSDAY.jpg?v=1653356597');">
  <div class="bg-layer"></div>
    <div class="top-content">
      <p>HELP DAD LOOK AND FEEL HIS BEST WITH EASY TO USE PERFORMANCE SKINCARE KITS</p>
    </div>
    <div  class="bottom-link">
     <a href="https://www.reyalperformance.com/collections/kits">[GIFT KITS]</a>
    </div>
</div>

{% schema %}
  {
    "name": "Skincare Section",
    "settings": [
      {
        "type": "url",
        "id": "url",
        "label": "SHOP NOW"
      },
      {
        "type": "number",
        "id": "height",
        "label": "Height",
        "info": "will be applied between 0px to 992px",
		"default": 600
      }
    ],
    "presets": [
      {
        "name": "Skincare Section",
        "category": "Skincare section"
      }
    ]
  }
{% endschema %}