<div class="how-to-use-section">
  <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL_SITE-3-copy.jpg?v=1648700264" />
  <div  class="bottom-link">
     <a href="https://www.reyalperformance.com/collections/all-products">[SHOP LAYERS]</a>
    </div>
</div>