<div id="pdt-rev" class="review">
	{%- if product.metafields.spr.reviews contains 'class="spr-header-title"' -%}
	{%- endif -%}
	<div class="small-container">
      	<div id="shopify-product-reviews" data-id="{{product.id}}" >
          {{ product.metafields.spr.reviews }}
      	</div>
  </div>
</div>
{% schema %}
  {
    "name": "Review",
    "settings": [
				{
			     "type": "header",
			     "content": "Review Content"
			  },
			  {
			     "type": "text",
				 		"id": "center_review_main_title",
				 		"label": "Center Review Main Title"
			  },
			  {
			     "type": "text",
				 		"id": "center_review_star_count",
				 		"label": "Center Review Star Count"
			  },
			  {
			     "type": "text",
				 		"id": "review_coustomer_name1",
				 		"label": "Review Coustomer Name1"
			  },
			  {
			     "type": "text",
				 "id": "review_coustomer_verified_acc1",
				 "label": "Review Coustomer Verified Acc1"
			  },
			  {
			     "type": "number",
				 "id": "review_coustomer_review-date1",
				 "label": "Review Coustomer Review Date1"
			  },
			  {
			     "type": "text",
				 "id": "review_coustomer_review_title1",
				 "label": "Review Coustomer Review Title1"
			  },
			  {
			     "type": "text",
				 "id": "review_coustomer_review_desc1",
				 "label": "Review Coustomer Review Desc1"
			  }

  ]
  }
{% endschema %}
