<div class="founders-main">
<div class="founders-section position-relative">
  
  <div class="row mx-0">
    
    <div class="one-half about-left-part" style="display:flex;"> 
     
        <div class="founders-content">
          {{ page.content }}
        </div>
    </div>
    <div class="one-half bg-image position-relative" >
      <div class="founders-image">
          <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/reyal-founder-team.jpg?v=1666069827" alt="founders" />
        </div>
      
    </div>
  </div>

  </div>
</div>
