<div class="about-us-main">
<div class="aboutus-section position-relative">
  
  <div class="row mx-0">
    
    <div class="one-half about-left-part" style="display:flex;"> 
     
        <div class="about-us-content">
          <p>
            WE SET OUT TO CREATE A BRAND AND PRODUCT ASSORTMENT, THAT CELEBRATES THE SOFTER AND GENTLER SIDE OF MASCULINITY. IN TODAY’S WORLD, THE POSITIVES OF MASCULINITY AREN’T OFTEN CELEBRATED ENOUGH AND NO MATTER WHAT GENDER, RACE, SEXUAL ORIENTATION, OR PRONOUNS YOU USE, MASCULINITY CAN BE CHAMPIONED BY EVERYONE.
            <br/>
            <br/>
            WE SPENT OVER TWO YEARS DEVELOPING AN INTELLIGENT ASSORTMENT OF SKINCARE AND SUPPLEMENT PRODUCTS THAT AID IN PERFORMANCE AND RECOVERY; AN EFFICIENT INSIDE􀇫OUTSIDE SYSTEM THAT COMBINES EVERYTHING OUR CUSTOMER NEEDS TO OPTIMIZE THEIR SKIN AND ATHLETIC PERFORMANCE. WE THINK OF OUR SKIN IN THE SAME WAY WE DO OUR BODIES, LIKE AN ATHLETE. OUR FORMULATIONS INCLUDE THE HIGHEST QUALITY CONCENTRATIONS OF ACTIVE INGREDIENTS TAILORED TO MEN’S SKIN ANATOMY, WHICH IS TYPICALLY THICKER, OILIER AND MORE PRONE TO IRRITATION, ESPECIALLY AFTER SHAVING AND SWEATING.
            <br/>
            <br/>
            JUST LIKE THE SUPPLEMENTS YOU MIGHT TAKE TO AMP UP YOUR PUMP AND RECOVER FASTER FROM THE GYM, OUR SKINCARE PRODUCTS ARE DESIGNED TO STRENGTHEN, HYDRATE, AND REPAIR YOUR SKIN. WE CREATED A SKINCARE ROUTINE THAT MAKES PRIORITIZING SKINCARE EFFICIENT, A SIMPLE 90-SECOND, THREE-LAYERED APPROACH WHEREBY EACH PRODUCT ADDS VALUE TO THE NEXT, AMPLIFYING PERFORMANCE AND LONG-TERM RESULTS.
          </p>
        </div>
    </div>
    <div class="one-half bg-image position-relative" >
      <div class="about-image">
          <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/reyal-founder-team.jpg?v=1666069827" alt="founders" />
        </div>
      
    </div>
  </div>

  </div>
</div>
