<div class="home-season-slider">
  <div class="swiper homeSwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="even-lift-section position-relative">
            <div class="bg-layer"></div>
            <div class="row mx-0">
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0550/8943/0589/files/season1.jpg?v=1636388798');">
                <div class="bg-layer"><div class="bulk-now"><a class="no-cursor" href="/collections/all-products">BE MERRY, MAN</a></div></div>
                
              </div>
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0550/8943/0589/files/season2.jpg?v=1636388798');"> 
                <div class="bg-layer">
                  <div class="fancy-supplement"><a href="/collections/kits">[SHOP GIFT KITS]</a></div>
                </div> 
                
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="even-lift-section position-relative">
            <div class="row mx-0">
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-6.jpg?v=1636559472');">
                
              </div>
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-5.jpg?v=1636559472');"> 
                
                
              </div>
            </div>
            <div class="bg-layer">
                  <div class="holidayz">
                    <div class="holidayz-content">
                      <h5>
                      HOLIDAYZ
                      <br/>
                      HOLIDAYZ
                      <br/>
                      HOLIDAYZ
                    </h5>
                    <a class="no-cursor" href="#">[REYAL HOLIDAY PARTY]</a>
                    </div>
                    
                  </div>
                </div> 
          </div>
        </div>

        <div class="swiper-slide">
          <div class="even-lift-section position-relative">
            <div class="bg-layer"></div>
            <div class="row mx-0">
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-7.jpg?v=1636559472');">
                
              </div>
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-8.jpg?v=1636559472');"> 
                <div class="bg-layer">
                  <div class="fancy-supplement"><a href="/collections/kits/products/skincare-kit">[TOTAL SKINCARE KIT]</a></div>
                </div> 
                
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="even-lift-section position-relative">
            <div class="bg-layer"></div>
            <div class="row mx-0">
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-9.jpg?v=1636559472');"> 
                <div class="bg-layer">
                  <div class="fancy-supplement"><a href="/collections/mens-skincare/products/supreme-body-wash">[SUPREME BODY WASH]</a></div>
                </div> 
                
              </div>
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-10.jpg?v=1636559472');">
                
              </div>
              
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="even-lift-section position-relative">
            <div class="bg-layer"></div>
            <div class="row mx-0">
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-11.jpg?v=1636559472');">
               
                
              </div>
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-12.jpg?v=1636559472');"> 
                <div class="bg-layer">
                  <div class="fancy-supplement"><a href="/collections/mens-skincare/products/supreme-face-wash">[SUPREME FACE WASH]</a></div>
                </div> 
                
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="even-lift-section position-relative">
            <div class="bg-layer"></div>
            <div class="row mx-0">
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-13.jpg?v=1636559472');"> 
                <div class="bg-layer">
                  <div class="fancy-supplement"><a href="/collections/all-products/products/super-day-moisturizer">[SUPER DAY MOISTURIZER]</a></div>
                </div> 
                
              </div>
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-14.jpg?v=1636559472');">
                
              </div>
              
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="even-lift-section position-relative">
            <div class="bg-layer"></div>
            <div class="row mx-0">
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-15.jpg?v=1636559472');">
               
                
              </div>
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-16.jpg?v=1636559472');"> 
                <div class="bg-layer">
                  <div class="fancy-supplement"><a href="/collections/mens-skincare/products/super-night-moisturizer">[SUPER NIGHT MOISTURIZER]</a></div>
                </div> 
                
              </div>
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="even-lift-section position-relative">
            <div class="bg-layer"></div>
            <div class="row mx-0">
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-17.jpg?v=1636559472');"> 
                <div class="bg-layer">
                  <div class="fancy-supplement"><a href="/collections/supplements/products/reyal-whey-protein">[5-IN-1 PROTEIN FORMULATION]</a></div>
                </div> 
                
              </div>
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-18.jpg?v=1636559472');">
                
              </div>
              
            </div>
          </div>
        </div>

        <div class="swiper-slide">
          <div class="even-lift-section position-relative">
            <div class="row mx-0">
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-19.jpg?v=1636559472');">
                
              </div>
              <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/Group-20.jpg?v=1636559472');"> 
                
                
              </div>
            </div>
            <div class="bg-layer">
                  <div class="holidayz">
                    <div class="holidayz-content">
                      <h5>
                      WRAP
                      <br/>
                      WRAP
                      <br/>
                      WRAP
                    </h5>
                    <a class="no-cursor" href="#">[BE MERRY, MAN.]</a>
                    </div>
                    
                  </div>
                </div> 
          </div>
        </div>
        <div class="swiper-slide video-panel">
        	<video  controls  loop poster="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/poster.jpg?v=1637094500">
      <source src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL_Official_Hero.mp4?v=1637080137" type="video/mp4">
    </video>
        </div>

      </div>
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
</div>