<div class="home-product">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-4 pdt-card">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/pdt1.jpg?v=1636466427" alt="" />
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pdt-card">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/pdt2.jpg?v=1636466427" alt="" />
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pdt-card">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/pdt3.jpg?v=1636466427" alt="" />
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pdt-card">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/pdt4.jpg?v=1636466427" alt="" />
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pdt-card">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/pdt5.jpg?v=1636466427" alt="" />
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-4 pdt-card">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/pdt6.jpg?v=1636466427" alt="" />
          </a>
        </div>
      </div>
    </div>
  </div>
</div>