<div class="founders-instafeed">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="https://www.reyalperformance.com/#3-insta-feed">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/insta1.jpg?v=1636466427" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/instagram.png?v=1636466427" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="https://www.reyalperformance.com/#4-insta-feed">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/insta2.jpg?v=1636466427" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/instagram.png?v=1636466427" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/insta3.jpg?v=1636466427" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/instagram.png?v=1636466427" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="https://www.reyalperformance.com/#5-insta-feed">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/insta4.jpg?v=1636466427" alt="" />
           <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/instagram.png?v=1636466427" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="https://www.reyalperformance.com/#6-insta-feed">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/insta5.jpg?v=1636466427" alt="" />
           <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/instagram.png?v=1636466427" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="https://www.reyalperformance.com/#7-insta-feed">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/insta6.jpg?v=1636466427" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/instagram.png?v=1636466427" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="https://www.reyalperformance.com/#2-insta-feed">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/insta7.jpg?v=1636466427" alt="" />
           <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/instagram.png?v=1636466427" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/insta8.jpg?v=1636466427" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/instagram.png?v=1636466427" alt="instagram" />
            </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/insta8.jpg?v=1636466427" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/instagram.png?v=1636466427" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>