
<div class="even-lift-section position-relative">
  <div class="bg-layer"></div>
  <div class="row mx-0">
    <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0550/8943/0589/files/about1.jpg?v=1636386051');">
      <div class="bg-layer">
        <div class="bulk-now"><a href="collections/supplements/">[ABOUT REYAL]</a></div>
      <div class="super-sensitive">
        <a href="">SUPER SENSITIVE.</a>
      </div>
      </div>
      
    </div>
    <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0550/8943/0589/files/about2.jpg?v=1636386051');"> 
      <div class="bg-layer">
         <div class="fancy-supplement"><a href="collections/supplements/">SUPER TOUGH.</a></div>
      </div> 
    </div>
  </div>
</div>