<div
  class="newsletter--root news-letter-section"
>
  <div class="newsletter--container">


      <div class="newsletter-header">
      
          <h2 class="newsletter--heading font--section-heading">[JOIN TEAM REYAL]</h2>
       

      
          <div class="newsletter--subheading font--paragraph rte-content">
            <p>SIGN UP TO OUR NEWSLETTER FOR GYM INSPIRATION, TRAINING TIPS, NEW RELEASES AND, 15% OFF YOUR FIRST ORDER.</p></div>
    
      </div>