<div class="about-us-main">
<div class="aboutus-section position-relative">
  
  <div class="row mx-0">
    
    <div class="one-half about-left-part" style="display:flex;"> 
     
        <div class="about-us-content">
          <p>
            MUCH LIKE TRADITIONAL TRAINING SUPPLEMENTS, REYAL PERFORMANCE SKINCARE PRODUCTS ARE DESIGNED TO REBUILD, PROTECT AND OPTIMIZE. WE DEVELOPED AN INTELLIGENT SKINCARE ASSORTMENT DESIGNING SKINCARE SUPPLEMENTS THAT AID IN PERFORMANCE RECOVERY OUR PROPRIETARY RSFC TRI-BLEND IS DESIGNED TO MAXIMIZE RESULTS - IT HOSTS SUPERIOR CONCENTRATIONS OF ACTIVE INGREDIENTS THAT ARE EASILY ABSORBED BY YOUR SKIN. WE TOOK THE BEST OF THE TRAINING SUPPLEMENTS WE USE LIKE CREATINE, BCAAS, GLUTAMINE AND COLLAGEN AND ENGINEERED THEM TO BE POWERFUL ADDITIVES TO HELP YOUR SKIN PERFORM.
            <br/>
            <br/>
            WE THINK OF OUR SKIN IN THE SAME WAY WE DO OUR BODIES. LIKE AN ATHLETE. SKINCARE IS A LONG GAME, WHERE TRAINING NOW LEADS TO A BETTER TOMORROW. TRUST US, YOUR FACE (AND YOUR PARTNER) WILL THANK YOU.
          </p>
           <div class="shop-btn-position">
            <a class="shop-btn" href="/collections/mens-skincare">[SHOP SKIN PERFORMANCE]</a>
          </div>
        </div>
    </div>
    <div class="one-half bg-image position-relative" >
      <div class="about-image">
          <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/reyal-founder-team.jpg?v=1666069827" alt="founders" />
          <div class="bg-layer">
          </div>
        </div>
      
    </div>
  </div>

  </div>
</div>
