<div class="skincare-performance-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL_SITE-3_cospy.jpg?v=1648756052');">
  <div class="bg-layer"></div>
  	<div class="bottom-content-subtitle">
      <p>FREE SHIPPING ON ALL KITS</p>
    </div>
    <div class="bottom-content">
      <p>EASY TO USE FUNCTIONAL KITS</p>
    </div>
    <div  class="bottom-link">
     <a href="/collections/kits">[SHOP NOW]</a>
    </div>
</div>