<div class="product-design-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL_Athletes.jpg?v=1648621903');">
    <div  class="centered-content">
      <p>PRODUCTS<br /> DESIGNED BY<br /> ATHLETES </p>
    </div>
</div>
<div class="how-to-use-section">
  <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL-DAYTIME2.jpg?v=1648701848" />
  <div  class="bottom-link">
     <a href="https://www.reyalperformance.com/collections/all-products">[SHOP LAYERS]</a>
    </div>
</div>
<div class="product-design-caption">
  <p>REYAL’S SKINCARE PERFORMANCE FORMULA COMBINES THE BEST OF SCIENCE AND NATURE. EVERY REYAL SKINCARE PRODUCT INCLUDES OUR PROPRIETARY RSCF&trade; TRI-BLEND. A CUSTOM COMBINATION OF ACTIVE INGREDIENTS: DRAGON’S BLOOD, TIGER GRASS, AND VITAMIN E THAT WORK TOGETHER TO FUEL, STRENGTHEN AND PROTECT YOUR SKIN.</p>
</div>
