<div class="even-lift-section position-relative">
  <div class="bg-layer"></div>
  <div class="row mx-0">
    <div class="one-half bg-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/shop1.jpg?v=1636466427');">
    </div>
    <div class="one-half bg-image" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/shop2.jpg?v=1636466427');">  
    </div>
  </div>
  <div class="content-box">
    <h2>DO YOU <br/> EVEN LIFT <br/> BRO?</h2>
  </div>
</div>
<div class="even-lift-section position-relative">
  
  <div class="row mx-0">
    <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/bulk.jpg?v=1636466427');">
      <div class="bg-layer"><div class="bulk-now"><a href="collections/supplements/">[BULK NOW]</a></div></div>
      
    </div>
    <div class="one-half bg-image position-relative" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/fancy.jpg?v=1636466427');"> 
      <div class="bg-layer">
        <div class="fancy-supplement"><a href="collections/supplements/">VERY FANCY SUPPLEMENTS.</a></div>
      </div> 
      
    </div>
  </div>
</div>