
<div class="stockists-banner" style="background-image:url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/reyal-founder-header.jpg?v=1666069828');">
  <div class="stockists-page-title">
    <h4>{{page.title}}</h4>
  </div>
</div>


{% schema %}
  {
    "name": "Banner Section",
    "settings": [
    {
    "id": "banner_image",
    "type":"image_picker",
    "label": "Banner Image"
    }
  ],
  "presets": [
    {
      "name": "custom-text",
      "category": "Custom"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
