<div class="how-to-use-section">
  <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL-DAYTIME-ROUTINE.png?v=1648621917" />
  <div  class="bottom-link">
     <a href="https://www.reyalperformance.com/pages/how-to-use">[LEARN MORE]</a>
    </div>
</div>