<div class="skincare-home-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL_Hero-copy.png?v=1661308940');">
  <div class="bg-layer"></div>
    <div class="top-content">
      <p>SKIN CARE MADE EASY.<BR></BR>A SIMPLE 3-LAYER SYSTEM WITH INGREDIENTS THAT FIGHT BACTERIA CAUSED BY SWEAT.</p>
    </div>
    <div  class="bottom-link">
     <a href="https://www.reyalperformance.com/collections/kits/products/essentials-kit-1">[SHOP ESSENTIALS]</a>
    </div>
</div>

{% schema %}
  {
    "name": "Skincare Section",
    "settings": [
      {
        "type": "url",
        "id": "url",
        "label": "SHOP NOW"
      },
      {
        "type": "number",
        "id": "height",
        "label": "Height",
        "info": "will be applied between 0px to 992px",
		"default": 600
      }
    ],
    "presets": [
      {
        "name": "Skincare Section",
        "category": "Skincare section"
      }
    ]
  }
{% endschema %}