<div class="founders-home-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/reyal-founder-header.jpg?v=1666069828');">
  <div class="bg-layer"></div>
    <div class="top-content">
      <h1>WHY WE CREATED REYAL</h1>
    </div>
</div>


{% schema %}
  {
    "name": "Banner Section",
    "settings": [
    {
    "id": "banner_image",
    "type":"image_picker",
    "label": "Banner Image"
    }
  ],
  "presets": [
    {
      "name": "custom-text",
      "category": "Custom"
    }
  ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
