

  <div data-section-id="{{ section.id }}" class="feature-video--root">
    <video playsinline controls muted loop poster="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/poster.jpg?v=1637094500">
      <source src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL_Official_Hero.mp4?v=1637080137" type="video/mp4">
    </video>
    
  </div>

{% schema %}
  {
    "name": "Video Section",
    "settings": [
      {
        "type": "url",
        "id": "url",
        "label": "Video Link"
      },
      {
        "type": "number",
        "id": "height",
        "label": "Height",
        "info": "will be applied between 0px to 992px",
		"default": 600
      }
    ],
    "presets": [
      {
        "name": "video section",
        "category": "Video Section"
      }
    ]
  }
{% endschema %}