<div class="skincare-performance-section" style="background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL_Full-Kit.jpg?v=1648614644');">
  <div class="bg-layer"></div>
    <div class="bottom-content">
      <p>EASY TO USE FUNCTIONAL KITS</p>
    </div>
    <div  class="bottom-link">
     <a href="/collections/kits">[SHOP NOW]</a>
    </div>
</div>