<div class="founders-main">
  <div class="container">
    <div class="row">
      
    <div class="col-3 col-sm-auto"> 
        <div class="founders-content">
          {{ page.content }}
        </div>
    </div>
    <div class="col-3 col-sm-1">
      <div class="founders-image">
          <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/reyal-founder-team.jpg?v=1666069827" alt="founders" />
      </div>
    </div>
      
    </div>
  </div>
</div>
