<div class="home-product">
  <div class="container">
    <div class="row">
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/insta1.jpg?v=1636390147" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/instagram.png?v=1636390583" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/insta2.jpg?v=1636390147" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/instagram.png?v=1636390583" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/insta3.jpg?v=1636390147" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/instagram.png?v=1636390583" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/insta4.jpg?v=1636390147" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/instagram.png?v=1636390583" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/insta5.jpg?v=1636390147" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/instagram.png?v=1636390583" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/insta6.jpg?v=1636390147" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/instagram.png?v=1636390583" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/insta7.jpg?v=1636390147" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/instagram.png?v=1636390583" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3 insta-feed">
        <div class="product-card">
          <a href="#">
            <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/insta8.jpg?v=1636390147" alt="" />
            <div class="insta-link">
              <img src="https://cdn.shopify.com/s/files/1/0550/8943/0589/files/instagram.png?v=1636390583" alt="instagram" />
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>