<div class="product-design-section" style="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL_Athletes.jpg?v=1648621903;">
  <div class="bg-layer"></div>
    <div  class="bottom-link">
     <a href="https://www.reyalperformance.com/collections/supplements">[SHOP SUPPLEMENTS]</a>
    </div>
</div>
