@media (min-width: 0) {
  

}
@media (min-width: 576px) {
  
}
@media (min-width: 768px) {

}
@media (min-width: 991px) {

}

@media (min-width:1200px) {

}
@media (min-width: 1400px) { 
	
}
