
@font-face {
     font-family: 'HN';
    src: url('./helveticaneue_medium.woff2') format('woff2'),
         url('./helveticaneue_medium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HN-B';
    src: url('./helvetica_neu_bold.woff2') format('woff2'),
         url('./helvetica_neu_bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'HN-L';
    src: url('./helveticaneue_light.woff2') format('woff2'),
         url('./helveticaneue_light.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'aktiv';
    src: url('aktivgroteskcorp-bold.woff2') format('woff2'),
         url('aktivgroteskcorp-bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@media (min-width:0) {
   /* Newsroom Page Css */
 
.newsroom-banner {
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:60vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.newsroom-banner .stockists-page-title h1 {
	font-size:40px;
  font-family: 'HN-B';
  font-weight:500;
}
.newsroom-card {
	width: 100%;
  margin-bottom: 50px;
}
.row.newsroom-card-outer {
	width: 100%;
	max-width: 1700px;
	margin:75px auto;
}
/* End Newsroom page css */

  /* Stockists Page Css */
  
  .stockists-banner {
    height:60vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
align-items: center;
justify-content: center;
position:relative;
  }
  .stockists-banner::after {
	content: "";
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	background-color: rgba(0,0,0,0.3);
	height: 100%;
}
.stockists-page-title{
  position:relative;
  z-index:9;
}
  .stockists-page-title h1 {
	font-size:50px;
  font-family:"HN-B";
	line-height: 220px;
	font-weight: 700;
	color: #fff;
	text-transform: uppercase;
}
.brick-and-mortar {
	padding:75px 0px 40px;
}
.brick-and-mortar .container {
	max-width: 995px;
	margin: 0px auto;
  padding:0px 20px;
}
.brick-section-title h3 {
	font-size: 26px;
  font-family: "HN";
	line-height:50px;
	font-weight: 700;
	color: #000;
	text-align: center;
	margin: 0px auto;
}
.direction-card {
	width:100%;
	padding:10px;
  text-align:center;
  margin-bottom:50px;
}
.brick-and-mortar.online-retailers .direction-card {
  margin-bottom:0px;
}
.direction-card h4 {
	font-size: 20px;
  font-family: "HN-L";
	line-height: 23.86px;
	font-weight: 400;
	color: #000;
	padding-bottom: 15px;
}
.direction-card p {
	font-size: 17px;
  font-family: "HN-L";
	line-height: 20.28px;
	font-weight: 400;
	color: #000;
	max-width:220px;
	margin: 0px auto;
}
.direction-card .area-link {
	display: block;
	font-size: 17px !important;
  font-family: "HN-L";
	line-height: 20.28px;
	margin:20px 0px;
	text-decoration: none;
	color: #000;
	font-weight: 400;
}
body .direction-card .get-direction-api {
	font-size: 17px;
  font-family: "HN-L";
	line-height: 20.28px;
	color: #D12C36;
	font-weight: 400;
	display: block;
	text-decoration: none;
	text-align: center;
	margin-bottom: 20px;
}
.direction-card h5 {
	font-size: 20px;
	line-height: 23.86px;
	margin: 10px 0px 0px;
  font-family:"HN-L";
  color:#000;
}
.brick-and-mortar.online-retailers {
	padding: 40px 0px 49px;
}

  /* End Stockists page css */


	/* Featured Setion CSS */
	.featured-home {
	padding: 50px 0px;
	border-bottom: 2px solid #FFFFFF;
}
	.featured-home .container {
		max-width:1796px;
		padding:0px 20px;
	}
	.feature-title h3 {
		font-size: 30px;
		font-weight: 700;
		margin: 0;
    font-family:"HN";
	}
	.feature-title {
		width: 100%;
		text-align: center;
	}
	.featured-home .card-row {
	margin-top: 25px;
}
	.featured-home .row .card-body {
	width: 50%;
	text-align: center;
	margin-bottom: 30px;
	padding: 0px 25px;
}
	.feat-logo {
		height:45px;
		display: flex;
		align-items: flex-end;
		justify-content: center;
		/* padding: 0px 45px; */
	}
	/* .feat-logo img {
		width: auto;
		height:85%;
	} */
  .feat-logo img {
	width: auto;
	height: 55%;
}
	body .feature-title h5 p{
		font-size: 12px;
		font-weight: 500;
		font-family: 'HN-B';
		margin-top:35px;
    color:#000000;
	}

	/* End Featured section css */

  /* Skincare PDP section css */
  .ing-bottom .full-transp-container {
    padding:50px 0px;
}
    .ing-bottom .real-ingredient-text {
      height: unset;
      position: relative;
    }
    .ing-bottom .real-ingredient-text .bottom-area {
	position: absolute;
	bottom: 0;
}
    .ing-bottom .real-ingredient-img.real-ingredients-video {
    padding-bottom: 0px;
}
.ing-bottom .full-transp-container .middle-area p {
    font-size:17px;
}
   body .ing-bottom .organic-ingredients h3{
      margin-top: 0;
    }
  .organic-ingredients.skincare-ing {
	padding: 104px 0px 0 0;
}
.ing-top {
	padding: 0px 15px;
}
.ing-bottom {
	padding: 0px 15px;
	background-color: #fff;
}
.ing-bottom .full-transp-container{
   border: none;
 }
 .ingredients-slider {
	display: flex;
	justify-content: space-between;
	/* margin-top: 100px; */
}
  .slider-left-content {
	width: 37%;
}
.slider-right-content {
	width:60%;
}
.slider-inner-box{
  width: 100%;
  position: relative;
}
/* .slider-inner-box::before {
  content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
	background-color: rgba(0,0,0,0.4);
	top: 0;
	z-index:9;
} */
.swiper.ingredientSwiper {
	z-index: 99;
}
.ingredient-swiper-btn .swiper-button-next::after, .ingredient-swiper-btn .swiper-button-prev::after {
	color: #A2A1A2;
	font-weight: 100;
	font-size: 30px;
}
.ingredient-swiper-btn .swiper-button-next::after{
  position: absolute;
  right: 0;
}
.ingredient-swiper-btn .swiper-button-prev::after{
  position: absolute;
  left: 0;
}
.swiper-slide.pdp-slide1 {
	background-color: #fff;
  border: 2px solid #232323;
}
.swiper-slide.pdp-slide2 {
	background-color:#232323;
}
.ingredients-slider .swiper-slide{
	padding: 35px 0;
}

/* .ingredients-slider .swiper-slide1 {
	height: 100%;
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
} */
/* .ingredients-slider .slider-area {
	min-height: 420px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	display: flex;
	align-items: center;
	justify-content: center;
} */
.slide-box{
  min-height:400px;
}
.right-slider-content {
	width:85%;
	max-width: 722px;
	margin: 0px auto;
  padding:16px 0px 32px;
}
.pdp-slide1 .right-slider-content {
	border: 2px solid #000;
}
.pdp-slide2 .right-slider-content {
	border: 2px solid #fff;
}
.organic-ingredients .right-slider-content h3 {
	font-size: 18px;
  line-height: 40px;
  text-align: center;
	font-weight: 700;
  margin:0;
}
.organic-ingredients .pdp-slide1 .right-slider-content h3{
  color: #000;
}
.organic-ingredients .pdp-slide2 .right-slider-content h3{
  color: #fff;
}
.ingredients-slider .layer-data-grid.layer1 ul li:first-child, .layer-data-grid.layer2 ul li,.layer-data-grid.layer3 ul li {
	background-color: #DC493F;
}

body .ingredients-slider .layer-data-grid.layer2 ul li:last-child {
	background-color: #fff;
}
.layer-data {
	display: flex;
	justify-content:center;
  margin-top:20px;
}
.layer-data-grid {
	width: 33.3%;
  text-align: center;
  padding: 0px 5px;
}
.layer-data-grid h4 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 100%;
}
.layer-data-grid span {
	font-size:10px;
	text-transform: uppercase;
	font-weight: 400;
	line-height: 100%;
  margin-top: 8px;
display: block;
}
.pdp-slide1 .layer-data-grid h4,
.pdp-slide1 .layer-data-grid span,
.pdp-slide1 .layer-data-grid p {
    color:#000;
}
.pdp-img-box{
  padding: 20px 0px;
}
.pdp-img-box img {
	width: auto;
	height:125px;
}
.pdp-slide2 .layer-data-grid h4,
.pdp-slide2 .layer-data-grid span,
.pdp-slide2 .layer-data-grid p {
    color:#fff;
}
.ingredients-slider .layer-data-grid p {
	font-size:10px;
	line-height: 16px;
	font-weight: 400;
}
.layer-data-grid ul li {
	width: 14px;
	height: 14px;
	border-radius: 50%;
	background-color: #fff;
  margin: 0px 4px;
}
.layer-data-grid ul {
	display: flex;
	align-items: center;
	justify-content: center;
  margin:15px 0px 10px;
}
  /* End skincare css */
  #shopify-section-framework--about-reyal-section .one-half.bg-image{
	height: 400px;
}
  .home-product #insta-feed{
    margin-top:0;
  }
  .homeSwiper .swiper-button-prev::after,
  .homeSwiper .swiper-button-next::after {
	display: none;
}
  .swiper-slide.video-panel video {
    height: 100vh;
    object-fit: scale-down;
    background: black;
}
  .template--index .swiper-slide {
    height: 80vh
  }
  .even-lift-section {
	height: 100%;
}
.event-inner {
	height: 100%;
}
  /* Collection Page CSS */
    .template--collection .bestpush-inline-bis-notify.bestpush-inline-bis-notify-button {
    position: absolute;
    width: 80% !important;
    top: 50%;
    transform: translate(-50%,-50%);
    left: 50%;
    border: 1px solid #000;
    opacity:1;
    transition: all 0.2s;
  }
  
  /* End Collection Page CSS */
  /* CART PAGE CSS */
  .template--cart .cart--item--remove {
    width: unset;
  }
  /* END CART PAGE CSS */
  .template--index .ticker-content ul li {
      font-size: unset;
      line-height: unset;

    }
  .ticker-content.ticker .bestpush-inline-bis-notify {
	display: none !important;
}
  .template--customers--login #rc_login{
    display: none;
  }
  .notification-info p {
	font-size: 16px;
}
.notification-info p span{
	font-weight:700;
  padding-right: 10px;
}
  .template--index .prod-name-row.you-know-slider{
padding-left: 0;
padding-right: 0;
  }
  #shopify-section-framework--page-apparel-wearing {
	overflow-x: hidden;
}
   /* About Us Page */
.page--about-reyal-performance-performance-skincare-amp-supplements #main-content {
	padding: 0;
}
.prod-name-row.you-know-slider {
	padding: 25px 0px !important;
}
  .page--about .layout--main-content {
    padding: 0 !important;
}
  .about-us-main .aboutus-section .bg-image {
	/* height: 952px; */
	background-position: unset;
}
.about-us-main .about-right-part {
	align-items: center;
}
.about-us-main .about-right-part {
	padding-left:20px;
}
.about-us-main .about-us-content {
	width: 100%;
	max-width: 659px;
  padding-right: 20px;
  padding-top: 30px;
padding-bottom: 30px;
}
.aboutus-section .row{
  align-items: center;
}
.about-us-content p {
	font-size: 18px;
	line-height: 30px;
	font-weight: 500;
	color: #000;
	font-family: 'helvetica';
  text-align:left;
}
.one-half.about-left-part {
	align-items: center;
}
.about-us-main .about-left-part .about-us-content {
	width: 100%;
	max-width: 639px;
  padding-left: 20px;
  padding-right: 20px;
}
.one-half.about-left-part {
	align-items: center;
	padding-right:0px;
  order: 1;
}
.about-us-main .overlay-text {
	display: flex;
	height: 100%;
	align-items: center;
	justify-content: center;
	width: 95%;
	max-width:610px;
	margin: 0px auto;
}
.overlay-text h3{
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
  color: #fff;
  text-align: center;
  margin: 0;
}
.about-us-main .shop-btn-position {
	margin-top:30px;
width: 100%;
text-align: center;
}
.aboutus-section .row {
	margin-bottom: 75px;
}
body .about-us-main .shop-btn-position a{
font-size: 18px;
line-height: 32px;
color: #000;
font-weight:700;
}
body .about-us-main .about-us-content h4{
  font-size: 24px;
line-height: 32px;
color: #000;
font-weight:700;
margin-bottom: 17px;
}
.about-image{
  padding-top: 106%;
height: 100%;
max-width: 100%;
position: relative;
}
.about-image img {
	display: block;
	height: 100%;
	left: 0;
	opacity: 1;
	position: absolute;
	top: 0;
	-webkit-transition: opacity .3s ease;
	transition: opacity .3s ease;
	visibility: visible;
	/* max-width: auto; */
	width: auto;
}
  /* End About Us page css */
  .footer--menu {
	width: 100%;
	box-sizing: border-box;
	columns: 2;
}
.footer-block-middle.footer--block .footer--block--container {
	margin-left: 0;
  width: 100%;
}
.footer-block-middle .footer--menu li {
	text-align: left;
}
  .desktop-footer-logo.footer-logo-box {
	display: none;
}
  .footer-logo-box {
  display: flex;
	width: 100%;
	align-items: center;
	justify-content: center;
}
  .spr-review-content-body {
	text-transform: uppercase;
}

  /* NEWS LETTER POPUP */
  #shopify-section-framework--newsletter-popup{
    display:none;
  }
  .subscribe-close {
	position: absolute;
	top: -2px;
	right: 4px;
	z-index: 99;
	font-size: 25px;
}
  .newsletter-popup {
    width:100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 99999;
    zoom: 0.85;
}
.subscribe-content {
	width: 95%;
	max-width:673px;
	margin: 0px auto;
	background-color: #fff;
	padding:20px 20px;
	text-align: center;
  position:relative;
}
.subscribe-content .form-img{
	height:250px;
}
body .newsletter-popup .form-head h2 {
	font-size:30px;
	color: #E0D2AE;
	font-weight: 700;
	line-height: 100%;
	margin: 17px auto;
}
.form-head p {
	font-size: 12px;
	color: #9B9B9B;
	font-weight: 500;
	line-height:26px;
	margin: 0 0px 38px;
  text-align: center;
}
.newsletter-popup #newsletter-email {
  font-size:14px;
  color: #000000;
	width: 65%;
	border: 1px solid #000000;
	height:40px;
  flex-basis: 65%;
  margin:0px auto;
  border-radius: 0px;
  border-right:0px;
  font-weight:500;
  padding: 0px 30px;
text-align: left;
}
.newsletter-popup #newsletter-email::placeholder{
  font-size:14px;
  color: #000000;
}
.newsletter-popup #newsletter--button {
  font-size:14px;
	width: 35%;
	flex-basis: 35%;
	margin: 0;
	height:40px;
	background-color: #E0D2AE;
	color: #000000;
	font-weight: 700;
	border: 1px solid #E0D2AE;
	text-decoration: none;
  border-radius: 0px;

}
.newsletter-popup #newsletter--button::after{
  display:none;
}
/* END */
.accordian-mob  .spr-header-title {
	font-weight: 700;
}
.accordian-mob .spr-summary-caption {
	padding-bottom: 30px;
}

.page--reyal-e-gift-card-men-39-s-skincare-amp-supplements-gift-card  #shopify-section-framework--page-mobile-accordian-apparal{
  display: none;
}

  :root {
      --swiper-navigation-size: 55px !important;
  }
  .holidayz {
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  text-align: center;
  margin: 0px auto;
}
.template--index .layout--main-content .shopify-section {
  padding: 0 !important
}
.home-product .container {
  max-width: 1276px;
}
.holidayz h5 {
	font-size:50px;
	line-height:70px;
	font-weight: 700;
	color: #fff;
}
.swiper-button-prev.swiper-button-disabled {
  opacity: 1 !important;
}
  .template--index #newsletter-email {
	text-align: left;
}
  .home-page-main {
	overflow-x: hidden !important;
}
 .template--index .col-lg-3 {
	flex: 0 0 auto;
	width:25%;
}
  .template--index .container{
	/* max-width: 1140px; */
  margin:0px auto;
}
 .template--index .col-lg-4 {
	flex: 0 0 auto;
	width: 50%;
}
   .position-relative {
    position: relative !important;
}
.template--index #main-content {
	padding: 0px !important;
}
  .one-half {
    width:100%;
}
  .row{
    display: flex;
flex-wrap: wrap;
  }

 .main-header .announcement-bar__message {
	font-size: 12px;
	font-family:aktiv-grotesk, sans-serif;
	letter-spacing: 1.2px;
}
.main-content {
	padding-top: 0px !important;
}
.site-nav a {
	padding: 0px 10px;
	text-transform: uppercase;
	font-size: 17px;
	line-height: 20px;
  font-family:aktiv-grotesk, sans-serif;
}
.grid__item.logo-area {
	width: 187px;
}
.right-nax{
  max-width: 250px;}
#AccessibleNav {
	width: inherit;
}
.main-header .site-nav {
	text-align: left;
}
.main-header .site-nav__link:focus .site-nav__label, .main-header .site-nav__link:not([disabled]):hover .site-nav__label {
	border-bottom-color:transparent;
}
.right-nav button, .right-nav a {
	color: #000;
	font-size: 17px;
	font-family:aktiv-grotesk, sans-serif;
	padding: 0;
	margin-left: 30px !important;
}
.home-page-banner .one-half {
	height:500px;
  
}
.banner-logo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
 .template--index .you-may-also-slider {
	overflow-x: hidden;
}
  @keyframes scrollLeft {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
  }
  .ticker-section {
    margin: 0px;
  }

  .ticker-content {
    display: flex;
    width: 100%;
    min-height: 16px;
    box-sizing: content-box;
    position: relative;
    overflow: hidden;
  }

  .ticker-content ul {
    display: inline-block;
    padding: 0;
    margin: 0;
    width: auto;
    box-sizing: content-box;
    white-space: nowrap;
    animation: scrollLeft 30s linear infinite;
  }

  .ticker-content ul li {
      display: inline-block;
      font-size: 12px;
      line-height: 16px;
      padding-right: 8vw;
      font-weight: 700;
      font-family:aktiv-grotesk, sans-serif;
      text-align: center;
      width: auto !important;
      text-transform: uppercase;
    }
    .prod-name-row.you-know-slider {
	display: flex;
}
.feature-video--root {
   position: relative; 
  margin: 0 !important;
  }
  .feature-video--root video{
    max-width: 100%;
    display: flex;
    width: 100%;
    object-fit: cover;
    object-position: center;
  }

   .concept-banner-text {
      font-size: 50px;
      color: #ef3536;
      font-family: aktiv-grotesk,sans-serif;
      font-weight: bold;
      letter-spacing: 3.5px;
      line-height: 1.1;
      position: absolute;
      text-align: center;
      top: 50%;
      text-shadow: 5px 5px 6px #00000029;
      text-transform: uppercase;
      left: 0%;
      transform: translate(0%, -50%);
      z-index: 9999;
      width: 100%;
      padding: 0 10px;
   }
   .template--index .you-may-also {
    width: -moz-available;
    width:-webkit-fill-available;
    max-width: fit-content;
    padding-right: 20px;
    padding-left: 10px;
  }
 
  .template--index .you-may-also p {
	font-size: 14px !important;
	font-family: aktiv-grotesk,sans-serif;
	font-weight: 700;
	color: #E0D2AE;
	width: max-content;
	margin-bottom: 0;
	display:inline-block;
	padding: 0;
}

.template--index .ticker-content.ticker ul li a{
  font-size: 14px;
	font-family:aktiv-grotesk, sans-serif;
  font-weight: bold;
	color: #000000;
}
.skincare-home-section {
  padding: 0 24px;
  	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:400px;
	max-height: 740px;
  position: relative;
}
.shop-suppliments-section {
  	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:400px;
	max-height: 1004px;
  position: relative;
}
.shop-suppliments-caption {
	overflow: hidden;
  	padding: 80px 0px;
  	text-align: center;
}
.shop-suppliments-caption p {
  	width: 80%;
  	margin: 0 auto 20px;
  	color: #000;
  	font-size: 22px;
  	font-weight: 800;
  	line-height: 100%;
}
.skincare-performance-section {
  	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:400px;
	max-height: 1004px;
  position: relative;
}
.product-design-section {
  	overflow: hidden;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height:400px;
	max-height: 1004px;
  position: relative;
}
.product-design-caption {
  	overflow: hidden;
	background-color: #E0D2AE;
  	padding: 60px 0;
  	text-align: center;
}
.product-design-caption h2 {
  	width: 80%;
  	margin: 0 auto 30px;
  	color: #000;
  	font-size: 24px;
  	font-weight: 800;
}
.product-design-caption p {
  	margin: 0 auto;
  	width: 70%;
  	color: #fff;
	font-size: 20px;
  	font-weight: 500;
}
.product-design-caption .bottom-link {
	padding-top: 12px;
}
.product-design-caption .bottom-link a {
	color: #fff;
	font-size: 18px;
	font-weight: 800;
	font-family: aktiv-grotesk, sans-serif;
  	line-height: 100%;
}
.product-design-caption .bottom-link a:hover {
  	color: #000;
}
.how-to-use-section {
	background: #ffffff;  	
	overflow: hidden;
  	padding: 60px 0;
  	text-align: center;
}
.how-to-use-section img {
  	margin: 0 auto 20px;
 	width: 80%;
  	height: auto;
}
.top-content {
  	position: relative;
  	margin: 130px auto 30px;
  	text-align: center;
}
.centered-content {
	position: absolute;
  	left: 50%;
  	top: 50%;
  	width: 600px;
  	margin-top: -36px;
  	margin-left: -300px;
  	text-align: center;
}
.bottom-content {
  	position: absolute;
  	left: 50%;
  	bottom: 90px;
  	width: 600px;
  	margin-left: -300px;
  	text-align: center;
}
.bottom-content-subtitle {
  	position: absolute;
  	left: 50%;
  	bottom: 40px;
  	width: 600px;
  	margin-left: -300px;
  	text-align: center;
}
.centered-content p {
  	color: #fff;
  	font-size: 10px;
	font-weight: 800;
	font-family: aktiv-grotesk, sans-serif;
  	line-height: 125%;
}
.bottom-content p {
  	font-size: 24px;
	font-weight: 700;
	font-family: aktiv-grotesk, sans-serif;
  	line-height: 100%;
}
.bottom-content-subtitle p {
  	font-size: 16px;
	font-weight: 700;
	font-family: aktiv-grotesk, sans-serif;
  	line-height: 100%;
}
.bottom-link {
  	position: relative;
  	text-align: center;
}
.shop-suppliments-section .bottom-link {
  	position: absolute;
  	left: 50%;
  	bottom: 70px;
  	width: 600px;
  	margin-left: -300px;
}

.skincare-performance-section .bottom-link {
  	position: absolute;
  	left: 50%;
  	bottom: 60px;
  	width: 600px;
  	margin-left: -300px;
}
.bg-layer {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.2);
}
.shop-suppliments-section .bg-layer, .skincare-performance-section .bg-layer {
	background-color: transparent;
}
body .skincare-home-section .top-content p,
body .skincare-home-section .bottom-link a,
body .shop-suppliments-section .bottom-link a {
	color: #E0D2AE;
	font-size:24px;
	font-weight: 800;
	font-family: aktiv-grotesk, sans-serif;
  line-height: 100%;
}
body .skincare-performance-section .bottom-link a,
body .how-to-use-section .bottom-link a {
	color: #000;
	font-size:24px;
	font-weight: 700;
	font-family: aktiv-grotesk, sans-serif;
  line-height: 100%;
}
.bg-image {
	background-size: cover;
	background-repeat: no-repeat;
	background-position:center top;
}
/* .even-lift-section .bg-image {
	height:90vh;
} */
.even-lift-section .bg-image {
	height: 30vh;
}
.even-lift-section .content-box {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	width: 100%;
}
.even-lift-section .content-box h2{
  font-size:65px;
  line-height:110px;
  color: #fff;
  font-weight:700;
  font-family:'aktiv';
  text-align: center;
}
.bulk-now {
	display: flex;
	height: 100%;
	align-items:center;
	justify-content: center;
}
.fancy-supplement {
	display: flex;
	height: 100%;
	justify-content: center;
	align-items:center;
}
.even-lift-section .bulk-now a, .even-lift-section .fancy-supplement a, .super-sensitive a{
	font-size:24px;
  line-height: 1.2;
	color: #fff !important;
	font-weight: 700;
	font-family:aktiv-grotesk, sans-serif;
  text-align: center;
  width: 80%;
}
.even-lift-section .bulk-now a:hover, .even-lift-section .bulk-now a:focus, .even-lift-section .fancy-supplement a:hover, .even-lift-section .fancy-supplement a:focus{
  color: #E0D2AE !important;
}
.template--index .news-letter-section {
	background-color: #E0D2AE;
	padding: 90px 20px 95px;
}
.news-letter-section .newsletter--container {
	width: 100%;
	max-width: 718px;
	margin: 0px auto;
	text-align: center;
}
.template--index .newsletter--heading {
	font-size: 30px;
	font-weight: 900;
	color: #fff;
  margin:0;
  letter-spacing: 0px !important;
}
.newsletter--subheading p {
	font-size: 16px;
	line-height: 34px;
	font-weight: 500;
	color: #fff;
	padding: 22px 0px 54px;
}
input#newsletter-email::placeholder{
  font-size: 16px;
}
.news-letter-section #newsletter_form {
	width: 100%;
}

.news-letter-section #newsletter-email {
	width: 60%;
	background-color: transparent;
	border: 1px solid #ffff;
	height: 60px;
	font-size: 16px;
	color: #fff;
	padding: 0px 30px;
	outline: none;
  margin:0px !important;
  border-radius: 0px !important;
}

#newsletter-email::placeholder {
    font-size: 16px;
    color: #fff;
    opacity: 1;
    font-weight: 500;
}
.news-letter-section #newsletter--button {
	width: 40%;
	background-color: #ffff;
	border: 1px solid #fff;
	height: 60px;
	color: #E0D2AE;
	padding: 0px;
	font-size: 16px;
	font-weight:300;
  border-radius: 0px !important;
  margin: 0 !important;
}

.home-product{
  padding:94px 0px 83px;
}
.home-product .pdt-card, .home-product .insta-feed{
	padding: 0px 6px;
	margin-bottom: 18px;
}
.super-sensitive {
	position: absolute;
	bottom: 50px;
	width: 100%;
	text-align: center;
}

.super-sensitive a:hover{
color: #fff !important;
}
.homeSwiper .swiper-button-next, .homeSwiper .swiper-button-prev {
	color: black;

}
.insta-feed .product-card a {
	position: relative;
	display: inline-block;
}
.insta-feed .product-card a .insta-link {
	position: absolute;
	display: inline-flex;
	width: 100%;
	align-items: center;
	justify-content: center;
	height: 100%;
	top: 0;
	left: 0;
	opacity: 0;
	transition: all 0.3s;
	background-color: rgba(0,0,0,0.3);
}
.insta-feed .product-card a:hover .insta-link{
  opacity:1;
} 
.insta-feed .product-card a .insta-link img{
  width:25px;
}
/* .holidayz-content {
	text-align: center;
} */

   .template--index .holidayz-content a {
	font-size:30px;
	font-weight: 700;
	color: #fff;
  margin-top: 27px;
display: block;
line-height: 100%;
text-align: center;
}
.no-cursor {
	pointer-events: none !important;
}
}
@media (max-width: 767px) {
  /* .template--index .layout--main-content .shopify-section{
  } */
  .shopify-section .featured-double-image,
  .shopify-section .newsletter--root,
  .shopify-section .featured-grid--item{
    margin: 0;
  }
  
}
  
@media (max-width: 680px) {
 
   .concept-banner-text {
      font-size: 50px;
      color: #ef3536;
      font-family: aktiv-grotesk,sans-serif;
      font-weight: bold;
      letter-spacing: 3.5px;
      line-height: 1.1;
      position: absolute;
      text-align: center;
      top: 50%;
      text-shadow: 5px 5px 6px #00000029;
      text-transform: uppercase;
      left: 0%;
      transform: translate(0%, -50%);
      z-index: 9999;
      width: 100%;
   }
   
}
@media (min-width: 576px) { 
   .skincare-home-section {
	height:500px;
}
/*Featured section CSS  */
  body .feature-title h5 p{
		font-size: 12px;
	}

	 /* End Featured section css */
}
@media (min-width: 768px) { 
   /* Newsroom Page Css */
  .newsroom-banner {
	height:60vh;
}
.newsroom-banner .stockists-page-title h1 {
	font-size:76px;
}
.newsroom-card {
	width: 50%;
}
/* End Newsroom page css */
  /* Stockists Page Css */
  .stockists-banner {
    height:60vh;
  }
  .stockists-page-title h1 {
	font-size: 80px;
}
.direction-card {
	width: 33%;
	padding:10px;
  margin-bottom:0px;
}

  /* End Stockists page css */
	 /*Featured section CSS  */
	 .featured-home .container {
		padding:0px 50px;
	}
	 .featured-home .row .card-body {
		width:50%;
		text-align: center;
	}

	 /* End Featured section css */
  .template--index .swiper-slide {
    height: 90vh
  }
  #shopify-section-framework--about-reyal-section .one-half.bg-image{
	height: 500px;
}

  .holidayz-content {
	text-align: center;
	position: unset;
	top: unset;
	transform:unset;
}
.fancy-supplement {
	align-items: flex-end;
  padding-bottom:50px;
}
.bulk-now {
	align-items: flex-start;
	padding-top: 50px;
}
/*    .swiper-slide.video-panel video {
    height:695px;
} */
  .desktop-footer-logo.footer-logo-box img {
	width: 25px;
	margin-top: 25px;
}
.footer-block-middle.footer--block {
	display: block;
}
  
  .desktop-footer-logo.footer-logo-box {
	display: flex;
}
.footer-logo-box {
	display: none;
}
  .template--index .col-lg-3 {
	width:50%;
}
  .template--index  .col-lg-4 {
	width:50%;
}
    .one-half { 
    width:50%;
}

.subscribe-close { 
	top: 0px;
	right: 10px; 
}
   .concept-banner-text {
      font-size: 65px;
      color:#ef3536; 
      font-family: aktiv-grotesk,sans-serif; 
      font-weight: bold;
      left: 50%;
      letter-spacing: 3.5px;
      line-height: 1.1;
      position: absolute;
      top: 50%;
      text-shadow: 5px 5px 6px #00000029;
      text-transform: uppercase;
      transform: translate(-50%, -50%);
      z-index: 9999
   }
}
@media only screen and (max-width: 767px) {
  body .footer--menu li:not(:last-child) {
    padding-bottom: 0px;
    margin-bottom:8px;
  }
}
@media (min-width: 992px) {
  /* Newsroom Page Css */
 .newsroom-banner .stockists-page-title h1 {
	font-size: 100px;
}
.row.newsroom-card-outer {
	margin: 129px auto;
}
/* End Newsroom page css */
  /* Stockists Page Css */
  .stockists-banner {
    height:60vh;
  }
  .stockists-page-title h1 {
	font-size: 120px;
}
.brick-and-mortar {
	padding: 155px 0px 75px;
}
.brick-section-title h3 {
	font-size: 40px;
	line-height: 77px;
}
.direction-card {
	width: 33%;
	padding: 20px;
}
.brick-and-mortar.online-retailers {
	padding: 75px 0px 49px;
}

  /* End Stockists page css */

	/*Featured section CSS  */
	.featured-home .container {
		padding:0px 74px;
	}
	.featured-home .row .card-body {
		width:25%;
		text-align: center;
		margin-bottom:0px;
	}
  .feature-title h3 {
	font-size: 40px;
}
	
  body .feature-title h5 p{
		font-size: 13px;
    font-weight:600;
	}
  .feat-logo img {
	height: 85%;
}

	 /* End Featured section css */
  /* Skincare PDP section css */
  .ing-bottom .full-transp-container {
    padding:100px 0px;
}
 
.ingredient-swiper-btn .swiper-button-next::after, .ingredient-swiper-btn .swiper-button-prev::after {
	color: #A2A1A2;
	font-weight: 100;
	font-size: 45px;
}
.ing-bottom .full-transp-container .middle-area p {
    font-size:19px;
}
.right-slider-content {
  padding:16px 0px 32px;
}
.layer-data {
    padding: 0px 30px;
}
.organic-ingredients .right-slider-content h3 {
	font-size:28px;
	line-height: 60px;
}
.layer-data-grid {
  padding: 0px 20px;
}
.layer-data-grid h4 {
	font-size: 23px;
}
.layer-data-grid span {
	font-size:9px;
}
.ingredients-slider .layer-data-grid p {
	font-size: 11px;
	line-height: 18px;
}
.layer-data-grid ul li {
	width: 16px;
	height: 16px;
}
.layer-data-grid ul {
  margin: 34px 0px 22px;
}
  /* End skincare css */
  #shopify-section-framework--about-reyal-section .one-half.bg-image{
	height: 700px;
}
  .template--index .prod-name-row.you-know-slider {
	padding-left:215px !important;
	padding-right: 48px;
}
  .news-letter-section #newsletter--button {
	font-size: 22px;
	font-weight:700;
}
.super-sensitive {
	bottom: 100px;
}

  /* NEWS LETTER POPUP */
  
.subscribe-content {
	padding: 38px 40px !important;
}
.subscribe-content .form-img{
	height: 340px !important;
}
.form-head h2 {
	font-size: 50px !important;
}
.form-head p {
	font-size: 14px !important;
	line-height:30px !important;
}
.newsletter-popup #newsletter-email {
  font-size:18px !important;
	height: 58px !important;
  padding: 0px 30px !important;
}
.newsletter-popup #newsletter-email::placeholder{
  font-size:18px !important;

}
.newsletter-popup #newsletter--button {
  font-size: 18px !important;
	height: 58px !important;

}

/* END */
  .template--index .holidayz-content a {
	font-size: 45px !important;
}
  .holidayz h5 {
	font-size:100px;
	line-height:150px;
}
  .template--index .col-lg-3 {
	width:25%;
}
   .template--index  .col-lg-4 {
	width: 33.33333333%;
}
  .home-page-banner .one-half {
	height: 825px;
}
  .even-lift-section .bulk-now a, .even-lift-section .fancy-supplement a, .super-sensitive a{
	font-size:30px !important;

}
  .bulk-now {
	padding-top: 103px;
}
.fancy-supplement {
	padding-bottom: 100px;
}
 body .skincare-home-section .bottom-link a,
 body .shop-suppliments-section .bottom-link a,
 body .skincare-performance-section .bottom-content p,
 body .skincare-performance-section .bottom-link a,
 body .how-to-use-section .bottom-link a {
	font-size:30px;
}

body .skincare-home-section .top-content p
 {
	font-size:30px;  
    line-height: 105%;
}

body .product-design-section .centered-content p {
  font-size: 40px;  
}

.product-design-caption {
  	padding: 90px 0;
}
.product-design-caption h2 {
  	margin: 0 auto 60px;
  	font-size: 30px;
  	line-height: 130%;
}
.product-design-caption p {
  	font-size: 24px;
  	line-height: 130%;
}
body .product-design-caption .bottom-link {
	padding-top: 30px;
}
body .product-design-caption .bottom-link a {
	font-size: 30px;
}
  .you-may-also p {
	font-size: 17px;
}
.skincare-home-section {
	height:700px;
}
.shop-suppliments-section {
  	height:900px;
	max-height: 1004px;
}
.skincare-performance-section {
  	height:900px;
	max-height: 1004px;
}
.shop-suppliments-caption {
  	padding: 80px 0px 50px 10px;
}
.shop-suppliments-caption p {
  	margin: 0 auto 30px;
  	font-size: 30px;
}
.product-design-section {
  	height:900px;
	max-height: 1004px;
}
.centered-content {
  	width: 990px;
  	margin-top: -68px;
  	margin-left: -495px;
}
.product-design-section .centered-content {
  margin-top: -100px;
}
.how-to-use-section {
  background: #ffffff;
  padding: 80px 0;
}
.how-to-use-section img {
  	margin: 0 auto 40px;
}
.bottom-content {
  	bottom: 150px;
}
.shop-suppliments-section .bottom-link {
  	bottom: 150px;
}
.skincare-performance-section .bottom-link {
    bottom: 80px;
}

.ticker-content.ticker ul li a{
  font-size: 17px;
}
  .feature-video--root video{
    height: auto;
  }
  .ticker-section {
      margin: 0px -48px;
    }
    .even-lift-section .bg-image {
	height:90vh;
}
.even-lift-section .content-box h2{
  font-size:90px;
  line-height:140px;
}
.top-content {
	margin: 300px auto 24px;
 	padding: 0px 350px 0px 350px;
}
.bottom-content {
  width: 990px;
  margin-left: -495px;
}

.bottom-link a:hover, .bottom-link a:focus, .skincare-home-section .bottom-link a:hover, .shop-suppliments-section .bottom-link a:hover, .skincare-performance-section .bottom-link a:hover, .how-to-use-section .bottom-link a:hover {
	color: #E0D2AE;
}
.template--index .newsletter--heading {
	font-size: 45px;
}
.template--index .newsletter--subheading p {
	font-size: 22px;
	line-height: 42px;
}

@media (min-width: 1200px) {
   /* Newsroom Page Css */

/* End Newsroom page css */
   /* Stockists Page Css */
  .stockists-page-title h1 {
	font-size: 100px;
}

  /* End Stockists page css */
  .template--index .prod-name-row.you-know-slider {
	padding-left:175px !important;
}
 .template--index .you-may-also {
	padding-left: 0;
} 
input#newsletter-email::placeholder{
  font-size: 22px;
}
  .prod-name-row.you-know-slider {
    padding:0;
	padding-left: 154px;
}
  .concept-banner-text {
  	font-size: 95px;
    left: 0%;
    transform: translate(0%, -50%);
  }
   /* About Us Page */
  .aboutus-section .row {
	margin-bottom:0px;
}

.about-us-main .about-right-part {
	padding-left:138px;
  justify-content: center;
  padding-right: 122px;
}
.about-us-main .about-us-content {
  padding-top: 0px;
padding-bottom: 0px;
}
.about-us-content p {
	font-size: 14px;
	line-height: 24px;
}
.about-us-main .about-left-part .about-us-content {
  padding-right:0px;
}
.one-half.about-left-part {
	padding-right: 138px;
	order: unset !important;
	justify-content: center;
	padding-left: 122px;
}
.overlay-text h3{
  font-size: 50px;
  line-height: 60px;
}
.about-us-main .shop-btn-position {
	margin-top: 114px;
}
body .about-us-main .shop-btn-position a{
font-size: 24px;
line-height: 32px;
}
body .about-us-main .about-us-content h4{
  font-size: 24px;
line-height: 32px;
}
.template--index .membership-wrp {
	padding: 0px 48px;
}

  /* End About Us page css */
} 
@media (min-width: 1400px) {
   /* Newsroom Page Css */

/* End Newsroom page css */
  /* Stockists Page Css */
  .stockists-page-title h1 {
	font-size: 100px;
}

  /* End Stockists page css */
  .template--index .you-may-also p {
	font-size:14px !important;
	line-height: 22px;
	display: block;
}
  
.even-lift-section .bg-image {
    height: 90vh;
    background-position: center;
}

  .holidayz h5 {
	font-size: 140px;
	line-height: 1.2;
}
  .concept-banner-text {
  	font-size: 95px;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .ticker-content ul li {
      font-size: 16px;
      line-height: 18px;

    }
    /* About Us Page */
   .about-us-main .about-right-part {
	padding-left: 174px;
}
.one-half.about-left-part {
	padding-right: 174px;
}

  .about-us-content p {
	font-size: 16px;
	line-height: 30px;
}
 /* About Us Page css end */

}
@media (min-width:1680px) {  
    .skincare-home-section {
    height: 1004px;
  }
  
.even-lift-section .content-box h2{
  font-size:172px;
  line-height:300px;
 
}

  }
@media (min-width:1920px) {
  /*Featured section css */

	.featured-home .container {
		max-width: 1920px;
	}
	.featured-home .row .card-body {
		width:25%;
		text-align: center;
	}
	.feature-title h5 {
		font-size: 17px;
	}

	 /* End Featured section css */

  /* .template--index .ticker-content ul li {
    padding-right: 3vw;
  } */

  .template--index .ticker-content.ticker ul li a {
    font-size: 20px;
    line-height: 22px;
    font-weight: bold;
  }

  .template--index .you-may-also p {
    font-size:20px !important;
    line-height: 22px !important;
    font-weight: bold;
  }
  .about-us-content p {
	font-size: 19px;
	line-height: 32px;
}
  
}

.page--reyal-e-gift-card-men-39-s-skincare-amp-supplements-gift-card .organic-ingredients, 
.page--reyal-e-gift-card-men-39-s-skincare-amp-supplements-gift-card #shopify-section-framework--page-review, 
.page--reyal-e-gift-card-men-39-s-skincare-amp-supplements-gift-card .pdt-star-rating.grid-view-item {
  display: none;
}

.page--reyal-e-gift-card-men-39-s-skincare-amp-supplements-gift-card .product-desc {
  margin-top: 20px
}
.footer--block--body>:not(:last-child) {
  padding-top: 26px;
}
  
#shopify-section-framework--evenlift-section .even-lift-section .bg-image {
  height: 100vh !important;
}