@media (min-width: 0) {
  .how-to-use-page-main .panel-shrink img {
    margin-bottom: 0;
    width: 100%;  
}
 .how-to-use-page-main .panel-shrink {
	position: relative;
	margin-bottom: 30px;
}
.panel-buy-btn {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
  opacity: 0;
  transition: all 0.3s;
}
.panel-buy-btn a {
	color: #fff !important;
	font-size: 30px !important;
	text-transform: uppercase;
	font-weight: 700;
}
.how-to-use-page-main .buy-arrow {
	position: absolute;
	top: 0;
	right: 0;
	text-align: center;
	background-color:#282828;
	color: #fff;
	font-size: 22px !important;
	padding: 20px 30px;
	font-weight: bold;
  	text-transform: uppercase;
	zoom: 0.7
}

/* .how-to-use-page-main .buy-arrow::before {
	content: '';
	background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/arrow-black.png?v=1637220023');
	position: absolute;
	opacity: 1;
	top: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	padding-top: 30px;
	background-repeat: no-repeat;
	background-size: contain;
  transition: all 0.3s;
} */
.how-to-use-page-main .panel-shrink .panel-layer {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
  left:0;
  background-color:transparent;
  color: #fff;
  transition: all 0.3s;
}

  /* .how-to-use-page-main .panel-shrink .panel-layer:hover .buy-arrow::before {
    content: '';
    background-image: url('https://cdn.shopify.com/s/files/1/0268/0356/8822/files/arrow-white.png?v=1637220023');
    position: absolute;
    opacity: 1;
    top: 0px;
    left: 0px;
    width: 100%;
    height: auto;
    padding-top: 30px;
    background-repeat: no-repeat;
    background-size: contain;
  } */
  .science-and-use .show-case .layring-container {
	max-width:unset;
}
.science-and-use .show-case .layring-container .half a img {
	width: 100%;
}
 
  .science-and-use .block-row .half{
    margin-bottom:50px;
  }
  .science-and-use .block-row .half:first-child {
	padding-right: 0px;
}
  .science-and-use .show-case .block-row {
	display:block;
}
 
  .science-and-use .buy-now-btn {
	color: #fff !important;
	background-color: #000 !important;
	width: 100% !important;
	padding: 15px 10px !important;
	display: block;
	text-align: center;
	margin-top: 20px;
	font-size: 16px !important;
}
  .science-and-use .toggle-icon {
	background-image: url(//cdn.shopify.com/s/files/1/0268/0356/8822/t/16/assets/plus.svg?v=223511083625470766);
	background-size: 29px;
	cursor: pointer;
	display: inline-block;
	width: 29px;
	height: 29px;
	transition: transform 0.2s;
	transform: rotate(0deg);
}
  .science-and-use .panel-title button:hover,.science-and-use .panel-title button {
	background-color: transparent !important;
}
  .science-and-use .concept-banner-text{
    color: #fff !important;
  }
  .concept-container {
	  display: block;
    width: 100%;
  	padding-left: 14px;
  	padding-right: 14px; 
  }
  .concept-banner-img {
    position: relative;
  }
  video {
    object-fit: cover;
    width: 100%;
    height: 60vh; 
    top: 0;
    left: 0;
  }
  .radio_circle {display: none}
  .science-and-use .concept-banner-text {
    color: #fff !important;
    font-family: aktiv-grotesk,sans-serif;
    font-size:50px;
    font-weight: bold;
    left: 50%;
    letter-spacing: 3.5px;
    line-height: 55px;
    position: absolute;
    top: 33%;
    text-shadow: 5px 5px 6px #00000029;
    text-transform: uppercase;
    transform: translate(-50%, -50%);
  }
  .concept-type-wrp {
  	padding: 30px 0;
    background: #ffffff;
    width: 100%;
    display: flex;
    justify-content: center;
    height: 109px;
  }
  .half-block .in-block{
  	margin: auto;
  	text-align: center;
  }
  .half-block .in-block button{
    background-color:transparent;
    border: none;
  	padding: 0;
	font-size: 16px;
  	line-height: 24px;
  	font-weight: 700;
  	letter-spacing: 0.25px;
  	color: #a5a5a5;
  	margin-bottom: 0;
  	text-decoration: none;
  }
  .block-row .half img {
	object-fit: cover;
  }
  .half-block {
	display: flex;
    flex-grow: 1;
    padding: 0 5px;
	justify-content: center;
    align-items: center;
  }
  .half-block:not(:first-child) {
	border-left: 1px solid #b7b7b7;
  }
  .half-block:first-child .in-block button.active {
  	color: #000000;
  }
  .half-block:not(:first-child) .in-block button.active {
	color: #000000;
  }
  .layering-system {
    padding-top: 40px;
  }
  .layring-container {
  	padding-left: 14px;
  	padding-right: 14px;
  }
  
  .layer> h3{
  	color: #1D1D1D;
  	font-family: "Basic Commercial";
  	font-size: 28px;
  	font-weight: 700;
  	line-height:30px;
  	letter-spacing: 0.76px;
  	text-transform: uppercase;
    margin-bottom: 44px;
    position: relative;
  }
  .layer> h3::after {
    content: '';
    border-bottom: 3px solid #707070;
    position: absolute;
    width: 45px;
    left: 0;
    bottom: -25px;
  }
  .layring-inner p{
  	font-family: aktiv-grotesk,sans-serif;
  	font-size: 17px;
  	font-weight: 300;
  	line-height:28px;
  	text-align: left;
  }
  .show-case {
    margin-top: 101.54px;
  }
  .show-case-container {
	padding-left: 14px;
  	padding-right: 14px;
    margin-bottom: 35px;
  }
  .show-case-container .block-row{
	display: flex;
  }
  .block-row .half:first-child {
	padding-right: 5px;
  }
  .block-row .half:last-child {
	padding-left: 5px;
  }
  .conc-img-text {
    padding-top: 14px;
  }
  .conc-img-text h4{
	color: #000000;
  	font-family: aktiv-grotesk,sans-serif;
  	font-size: 16px;
  	font-weight: 700;
  	line-height:24px;
  	letter-spacing: 0.22px;
  	margin-bottom: 0px;
  }
  .conc-img-text p{
	color: #000000;
  	font-family: aktiv-grotesk,sans-serif;
  	font-size: 16px;
  	font-weight: 300;
  	line-height:24px;
  	letter-spacing: 0.22px;
  }
  .layring-inner{
  	margin-bottom: 80.9px;
  }
  .layer-accordion {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
  }
  .accordion-panel:not(:first-child) .panel-heading {
    border-top: 1px solid #707070;
  }
  .panel-heading{
  	padding: 0px 0;
  }
  .panel-title {
    height: 79px;
    color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .panel-title button {
	font-family: aktiv-grotesk,sans-serif;
    font-size: 25px;
    font-weight: 700;
    line-height: 79px;
    letter-spacing: 0px;
    color: #000000;
  	background-color: transparent;
  	border: none;
  	padding: 0;
  	height: 100%;
  	text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 85%;
    overflow-x: hidden;
  }
  .accordion-panel.active .panel-title button {
    color: #dc323c;
  }
  .toggle-icon.open {
    transform: rotate(45deg);
  }
  .panel-body:not(.show) {
    display: none;
    width: 100%!important;
  }
  .panel-shrink h3 {
  	color: #000000;
    font-family: aktiv-grotesk,sans-serif;
    font-size: 18px;
    line-height: 32px;
    margin-bottom: 10px;
    text-transform: uppercase;
  }
  .panel-right{
  	display:flex;
	flex-direction: column;
    justify-content: space-between;
  	height:100%;
  }
  .panel-body .inner-row {
    display: flex;
  }
  .panel-body .inner-row:not(:first-child){
    margin-top: auto;
  }
  .panel-grow .entry-txt p {
    font-family: aktiv-grotesk,sans-serif;
    color: #000000;
    font-size: 18px;
    line-height: 28px;
    text-transform:initial;
  }
  .panel-grow .secondary h4{
  	font-family: aktiv-grotesk,sans-serif;
    color: #000000;
    font-size: 28px;
    font-weight: bold;
    line-height: 31px;
  	margin-bottom: 16.68px;
  }
  .panel-grow .secondary h5{
	font-family: aktiv-grotesk,sans-serif;
    color: #000000;
    font-size: 19px;
  	font-weight: 700;
    line-height: 21px;
	vertical-align: top;
	margin-bottom: 23.28px;
    padding-top: 15.28px;
    border-top: 3px solid #DC323C;
    text-transform: uppercase;
  }
  .panel-grow .secondary p {
    font-family: aktiv-grotesk,sans-serif;
    color: #000000;
    font-size: 18px;
    font-weight: 300;
    line-height: 28px;
  	margin-bottom: 0;
  }
  .inner-row .inner-col.half:nth-child(1) {
    padding-right: 20px;
  }
  .inner-row .inner-col.half:nth-child(2) {
    padding-left: 20px;
  }
  .inner-col.secondary{
    margin-top:0;
  }
  .inner-col.half.secondary{
    margin-top:0px;
  }
}
@media (min-width: 576px) {
}
@media (min-width: 768px) {
  .how-to-use-page-main .panel-shrink .panel-layer:hover{
  background-color: rgba(0,0,0,0.5);
}
.how-to-use-page-main .panel-shrink .panel-layer:hover .buy-arrow{
  opacity: 0;
}
.how-to-use-page-main .panel-shrink .panel-layer:hover .panel-buy-btn{
  opacity: 1;
}
  .how-to-use-page-main .panel-shrink { 
	margin-bottom:0px;
}
  .science-and-use .show-case .layring-container .half {
	width: 50%;
}
   /* .science-and-use{
    overflow-x: hidden !important;
  } */
   /* .science-and-use .concept-banner-wrp {
	margin: 0px -48px calc(109px / 2) !important;
} */
   .science-and-use .block-row .half{
    margin-bottom:0px;
  }
   .science-and-use .show-case .block-row {
	display: flex;
  justify-content: space-evenly;
}
.science-and-use .block-row .half:first-child {
	padding-right: 5px;
}
  .concept-container {
  	padding-left:0;
  	padding-right:0;
  }
  .half-block:first-child {
  	padding-right: 20px;
  }
  .accordion-panel {
    padding: 0 5px;
  }
  .panel-body {
    padding: 25px 0 50px;
  }
}
@media (min-width: 992px) {
  .how-to-use-page-main .panel-shrink img {
    width:auto;  
}
  .concept-banner-wrp {
    margin-bottom: calc(109px / 2);
  }
  .science-and-use .concept-banner-text {
    font-size: 100px;
    top: 57%;
  }
  .inner-col.secondary {
    margin: 30px 0
  }
  .concept-type-wrp {
	max-width: 852px;
  } 
  .concept-type-wrp {
    position: absolute;
  	bottom: calc(-109px / 2);
    left: 50%;
	transform: translateX(-50%);
  	-webkit-box-shadow: 7px 3px 16px #00000017;
    box-shadow: 7px 3px 16px #00000017;
  }
  .layering-system {
    padding-top: 80px;
  }
  .layring-container{
  	margin: 0 auto;
	max-width: 1464px;
  	padding: 0;
  }
  .layer > h3{
	font-size: 38px;
  	line-height: 46px;
  	text-align: center;
    max-width: 65%;
    margin: 0 auto;
    margin-bottom: 25px; 
    font-family: aktiv-grotesk,sans-serif;
  }
  .layer> h3::after {
    display:none;
  }
  .layring-inner {
    max-width: 750px;
    margin: 0 auto;
  }
  .layring-inner p{
    text-align: center;
  }
  .accordion-container{
	max-width: 1298px;
  	margin: 80px auto;
  }
  .show-case {
    margin-top: 0;
  }
  .show-case-container{
	padding-left: 0;
  	padding-right: 0;
    margin-bottom: 70px;
  }
  .show-case-container .block-row {
	justify-content: space-between;
	width: 100%;
  }
  .block-row .half:first-child {
	padding-right: 10px;
  }
  .block-row .half:last-child {
	padding-left: 10px;
  }
  .conc-img-text {
    padding-top: 17px;
  }
  .panel-heading{
  	padding: 5px 0; 
  }
  .panel-title button {
    font-size: 32px;
  	max-width: unset;
  }
  .toggle-icon{
	background-size: 40px;
    width: 40px;
    height: 40px;
    margin-top: -8px
  }
  .panel-row {
    display: flex;
  }
  .panel-shrink {
    flex-shrink: 1;
  }
  .panel-grow {
    flex-grow: 1;
    padding-left: 68.4px;
  }
  .panel-shrink img {
    width: auto;
    max-width: unset;
    height: 420px
  }
}
@media (max-width: 640px) {
  .inner-col.secondary {
    margin: 30px 0
  }
  .block-row .half img {
   	height: 250px 
  }
  video {
    height: 28vh;
  }
  .science-and-use .concept-banner-text {
    top: 36%; 
  }
  .panel-shrink img {
    width: 100%;
    height: 100%;
    margin: 0 auto; 
    margin-bottom: 15px
  }
}
  @media (max-width: 992px) { 
	.inner-col.secondary {
     	margin: 30px 0
    }  
    .concept-type-wrp {
      padding: 0;
      background: #ffffff;
      width: 100%;
      display: table; 
      height: 75px;
      margin: 0 auto;
      position: relative;
      top: 0px;
      box-shadow: none;
      border: 1px solid black;
      margin-top: 5px;
    }
    .half-block .in-block button {
      font-size: 24px;
      line-height: 36px;
    }
    .half-block:not(:first-child) {
      border-left: 0;
      border-top: 1px solid black;
    }
    .concept-type-wrp .half-block {position: relative;}
    .concept-type-wrp .half-block .in-block {
      padding: 10px 0
    }
    .concept-type-wrp .half-block.active {
      background: #eee; 
    }
    .science-and-use .concept-banner-text {
      top: 40%;
      color: #fff; 
    }
    .radio_circle {
      border-radius: 50%;
      width: 25px;
      height: 25px;
      border: 1px solid black;
      display: block;
      float: left;
      position: absolute;
      left: 25px;
      top: 18px;
      background: transparent;
    }
    .concept-type-wrp .half-block.active .radio_circle{
      background: black
    }
 	 .panel-shrink img{text-align: center}
  }
