<div class="page-wrapper spacing--5 panel">
	<div class="rte-content text-align--center">
		<h1 class="page-title font--section-heading ">{{ 'general.404.page_title' | t }}</h1>
		<div class="spacer spacing--2y"></div>
	  <h3>{{ 'general.404.intro' | t }}</h3>
	  <div class="spacer spacing--2y"></div>
	  <p>
			{{ 'general.404.return_links_html' | t: home_page_link: home_page_link, products_link: products_link }}
		</p>
	</div>
</div>