<div class="home-page-main">
{% section 'framework--hosted-video-section' %}
{% section 'framework--ticker-section' %}
{% section 'framework--skincare-home-section' %}
{% section 'framework--evenlift-section' %}
{% section 'framework--home-product-section' %}
{% section 'framework--newsletter-section' %}
{% section 'framework--about-reyal-section' %}
{% section 'framework--home-slider-section' %}
{% section 'framework--home-video-section' %}
{% section 'framework--instafeed-section' %}
</div>
