<div class="home-page-main">
{% section 'framework--skincare-home-section' %}
<!-- {% section 'framework--hosted-video-section' %} -->
{% section 'framework--ticker-section' %}
{% section 'framework--skincare-supplements-panel' %}
{% section 'framework--featured-section' %}
{% section 'framework--home-product-section' %}
{% section 'framework--newsletter-section' %}
{% section 'framework--sweat-and-gains-section' %}
{% section 'framework--home-video-section' %}
<!-- {% section 'framework--instafeed-section' %} -->
{% section 'instafeed' %}
{% section 'framework--newsletter-popup' %}
{% section 'framework--featured-contentabout.liquid' %}
</div>
