<div class="home-page-main">
{% section 'framework-homebanner-bodywash' %}
{% section 'framework--ticker-section' %}
{% section 'framework--shop-supplements-section' %}
{% section 'framework-skin-performance-supplements-section' %}
{% section 'framework--featured-section' %}
{% section 'framework-skin-performance-kits-section' %}
{% section 'framework-product-design-section' %}
{% section 'framework-how-to-use-section' %}
{% section 'framework--home-product-section' %}
{% section 'framework--join-team-reyal' %} 
{% section 'framework--newsletter-popup' %}
</div>
