<div class="home-page-main">
{% section 'framework-homebanner-bodywash' %}
{% section 'framework--ticker-section' %}
{% section 'framework-skin-performance-supplements-section' %}
{% section 'framework--featured-section' %}
{% section 'framework--sweat-and-gains-section' %}
{% section 'framework--home-product-section' %}
{% section 'framework--join-team-reyal' %}  
{% section 'framework--newsletter-popup' %}
</div>
