<div class="about-us-main">
<div class="aboutus-section position-relative">
  
  <div class="row mx-0">
    <div class="one-half bg-image position-relative" >
      <div class="about-image">
          <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/about-page1.jpg?v=1636805261" alt="about" />
          <div class="bg-layer">
            <div class="overlay-text">
              <h3>A MAN WHO’S NOT AFRAID TO FEEL.</h3>
            </div>
          </div>
        </div>
      
    </div>
    <div class="one-half about-right-part" style="display:flex; position: relative;"> 
     
        <div class="about-us-content">
          <p>
            REYAL CREATES MEN’S PERFORMANCE SKINCARE AND SUPPLEMENTS THAT WORK TO FUEL, STRENGTHEN AND PROTECT. LIKE ANYTHING ELSE IN LIFE, IN ORDER TO BE SUCCESSFUL, YOU MUST BE COMMITTED, REGIMENTED, DILIGENT, AND FOCUSED. HOW YOUR SKIN LOOKS, AND HOW YOUR BODY FEELS, IS A DIRECT RESULT OF WHAT YOU EAT, HOW OFTEN YOU SWEAT, AND HOW YOU TAKE CARE OF YOURSELF.
            <br/>
            <br/>
            WE CREATED REYAL FOR A MAN WHO’S COMMITED TO CONTINUOUSLY BETTERING HIMSELF AND A MAN WHO’S NOT AFRAID TO FEEL
          </p>
          <div class="shop-btn-position">
          <a class="shop-btn" href="/collections/all-products">[SHOP NOW]</a>
        </div>
        </div>
      
        
    </div>
  </div>
  <div class="row mx-0">
    
    <div class="one-half about-left-part" style="display:flex;"> 
     
        <div class="about-us-content">
          <h4>SKIN PERFORMANCE</h4>
          <p>
            MUCH LIKE TRADITIONAL TRAINING SUPPLEMENTS, REYAL PERFORMANCE SKINCARE PRODUCTS ARE DESIGNED TO REBUILD, PROTECT AND OPTIMIZE. WE DEVELOPED AN INTELLIGENT SKINCARE ASSORTMENT DESIGNING SKINCARE SUPPLEMENTS THAT AID IN PERFORMANCE RECOVERY OUR PROPRIETARY RSFC TRI-BLEND IS DESIGNED TO MAXIMIZE RESULTS - IT HOSTS SUPERIOR CONCENTRATIONS OF ACTIVE INGREDIENTS THAT ARE EASILY ABSORBED BY YOUR SKIN. WE TOOK THE BEST OF THE TRAINING SUPPLEMENTS WE USE LIKE CREATINE, BCAAS, GLUTAMINE AND COLLAGEN AND ENGINEERED THEM TO BE POWERFUL ADDITIVES TO HELP YOUR SKIN PERFORM.
            <br/>
            <br/>
            WE THINK OF OUR SKIN IN THE SAME WAY WE DO OUR BODIES. LIKE AN ATHLETE. SKINCARE IS A LONG GAME, WHERE TRAINING NOW LEADS TO A BETTER TOMORROW. TRUST US, YOUR FACE (AND YOUR PARTNER) WILL THANK YOU.
          </p>
           <div class="shop-btn-position">
            <a class="shop-btn" href="/collections/mens-skincare">[SHOP SKIN PERFORMANCE]</a>
          </div>
        </div>
    </div>
    <div class="one-half bg-image position-relative" >
      <div class="about-image">
          <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/about-page2.jpg?v=1636809282" alt="about" />
          <div class="bg-layer">
            <div class="overlay-text">
              <h3>ENGINEERED TO HELP YOUR SKIN PERFORM.</h3>
            </div>
          </div>
        </div>
      
    </div>
  </div>
  <div class="row mx-0">
    <div class="one-half bg-image position-relative" >
      <div class="about-image">
          <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/about-page3.jpg?v=1636805261" alt="about" />
          <div class="bg-layer">
            <div class="overlay-text">
              <h3>RECOVERY, REFUEL, AND BUILD MUSCLE. </h3>
            </div>
          </div>
        </div>
      
    </div>
    <div class="one-half about-right-part" style="display:flex;"> 
     
        <div class="about-us-content">
          <h4>PERFORMANCE SUPPLEMENTS</h4>
          <p>
            REYAL PERFORMANCE SUPPLEMENTS ARE DESIGNED TO SIMPLIFY YOUR ROUTINE, COMBINING THE BEST ASSORTMENT OF TRADITIONAL INGREDIENTS INTO SINGLE-USE PRODUCTS THAT HELP YOUR BODY RECOVER, REFUEL AND BUILD MUSCLE. WE’VE INCLUDED WHAT WE BELIEVE TO BE THE ESSENTIALS, SUPPLEMENTS THAT SUPPORT ANY TYPE OF TRAINING PROGRAM AND THAT GIVE YOUR BODY THE FUEL IT NEEDS TO CONSISTENTLY PERFORM AT ITS BEST.
            <br/>
            <br/>
           TRAINING IS A CRITICAL PART OF ANYONE’S COLLECTIVE HEALTH AND WELLNESS. LIKE SKINCARE, AND CONSISTENCY, REYAL PERFORMANCE ADDS TO YOUR ARSENAL OF TOOLS TO HELP YOU MAXIMIZE RESULTS.
          </p>
           <div class="shop-btn-position">
            <a class="shop-btn" href="/collections/supplements">[SHOP SUPPLEMENTS]</a>
          </div>
        </div>
      
      
    </div>
  </div>
  <div class="row mx-0">
    
    <div class="one-half about-left-part" style="display:flex;"> 
     
        <div class="about-us-content">
          <p>
            THE REYAL JOURNAL IS A COLLECTIVE RESOURCE MERGING RELEVANT TOPICS ON FITNESS, CULTURE, AND HEALTH. FEATURING STORIES, TRAINING PROGRAMS, AND REYAL AMBASSADORS.
          </p>
          <div class="shop-btn-position">
            <a class="shop-btn" href="/blogs/journal">[READ JOURNAL]</a>
          </div>
          
        </div>
    </div>
    <div class="one-half bg-image position-relative" >
      <div class="about-image">
          <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/about-page4.jpg?v=1636809282" alt="about" />
          <div class="bg-layer">
            <div class="overlay-text">
              <h3>KNOWLEDGE IS POWER</h3>
            </div>
          </div>
        </div>
      
    </div>
  </div>
  
    <div class="row mx-0">
    <div class="one-half bg-image position-relative" >
      <div class="about-image">
          <img src="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL-MEDIA-GUIDE-IMAGE.jpg?v=1646330920" alt="about" />
          <div class="bg-layer">
            <div class="overlay-text">
            </div>
          </div>
        </div>
      
    </div>
    <div class="one-half about-right-part" style="display:flex;"> 
     
        <div class="about-us-content">
          <h4>MEDIA KIT</h4>
          <p>
            <b>START YOUR SKIN TRAINING, TODAY.</b> 
          </p>
			<p>LEARN MORE ABOUT REYAL BY DOWNLOADING OUR MEDIA KIT.
          </p>
            <br/>
          </p>
           <div class="shop-btn-position">
            <a class="shop-btn" href="https://cdn.shopify.com/s/files/1/0268/0356/8822/files/REYAL_MEDIA_KIT_V.5.pdf?v=1646331435">[DOWNLOAD MEDIA KIT]</a>
          </div>
        </div>
      
      
    </div>
  </div>
</div>
</div>
