<div class="stockists-main">
  {% section 'framework--stockists-banner-section' %}
  {% section 'framework--stockists-brick-and-mortar' %}
  {% section 'framework--stockists-online-retailers' %}
</div>