<div class="stockists-main">
  {% section 'framework--founders-banner-section' %}
  {% section 'framework--home-video-section' %}  
  {% section 'framework--about-reyal-section' %}    
  {% section 'framework--instafeed-section' %}
</div>

