<div class="stockists-main">
  {% section 'framework--founders-banner-section' %}
  {% section 'framework--home-video-section' %}  
  {% section 'instafeed' %}  
  {% section 'framework--featured-contentabout-banner' %}    
  {% section 'framework--featured-contentabout' %}    
  {% section 'framework--featured-contentaboutabout' %}    
  {% section 'framework--featured-contentaboutaboutabout' %}      
  {% section 'framework--instafeed-section' %}
</div>

