<article class="page--root" data-container="section" data-template="wide">
  <div class="page--container" data-container="panel">
    <div data-container="block">
      <h1 class="page--title" data-item="section-heading">{{ page.title }}</h1>
    </div>
    <div data-container="block">
      <div class="page--content rte-content" data-item="paragraph">
        {{ page.content }}
      </div>
    </div>
  </div>
</article>