<div class="founders-main">
  {% section 'framework--founders-banner-section' %}
  {% section 'framework--home-video-section' %}  
  {% section 'framework--hosted-video' %}    
  {% section 'instafeed' %}  
  {% section 'framework-founderstext' %}    
  {% section 'instafeed' %}  
  {% section 'framework--instafeed-section' %}
</div>

